---
# Front matter comment to ensure Jekyll properly reads file.
---

@import 'modern-resume-theme';

body {
  background-image: url(/images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
